[Desktop Entry]
Type=Application
NoDisplay=true
Terminal=false
Name=Libinput Gestures
Exec=/usr/bin/libinput-three-finger-drag 2.0
Icon=libinput-gestures
Comment=Background application to intercept and action libinput gestures from touchpad.
Categories=System;
